body {
    background-image: url("../image/1000_F_123452486_x8NMDobRJofj2EuLGBgVXvyHaNG0lWhZ.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

main .container {
    margin: 150px auto;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../image/pink-hearts-design-background-valentines-day_1048-15253.jpg");
    box-shadow: 9px 10px 5px -6px rgba(153,133,133,0.8);
    -webkit-box-shadow: 9px 10px 5px -6px rgba(153,133,133,0.8);
    -moz-box-shadow: 9px 10px 5px -6px rgba(153,133,133,0.8);
    border-radius: 5px;
}

main .container h1 {
    font-weight: 600;
    background-color: rgba(229, 230, 231, 0.7);
    text-shadow: 0 0 1px black;
    
}

main .btn {
    background-color: chartreuse;
    text-shadow: 0 0 1px rgb(120, 105, 105);
    
}
main .btn:hover {
    background-color: transparent;
    border: 3px solid  chartreuse;
    
}

#increment-btn {
    padding: 8px 41px;
    margin-bottom: 5px;
    border: 2px solid pink;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
}

#save-btn {
    padding: 8px 61px;
    margin-top: 5px;
    border: 2px solid pink;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
}

main p {
    font-weight: 600;
}